# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on One-to-Many and Many-to-many relationships!

## Objectives

You will be able to:
- Query data including Many-to-Many relationships
- Write queries that make use of Join Tables

## One-to-Many and Many-to-Many Joins
<img src='Database-Schema.png' width=550>

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [1]:
#Your code here
import pandas as pd 
import sqlite3
conn = sqlite3.connect('data.sqlite')
cur = conn.cursor()

cur.execute('''SELECT e.firstName, e.lastName, o.city, o.state FROM employees e
                LEFT JOIN offices o ON (o.officeCode = e.officeCode)
                ORDER BY e.firstName, e.lastName''')

df = pd.DataFrame(cur.fetchall())
df.columns = (i[0] for i in cur.description)
df

   firstName   lastName           city       state
0       Andy     Fixter         Sydney
1    Anthony        Bow  San Francisco          CA
2      Barry      Jones         London
3      Diane     Murphy  San Francisco          CA
4   Foon Yue      Tseng            NYC          NY
5     George     Vanauf            NYC          NY
6     Gerard     Bondur          Paris
7     Gerard  Hernandez          Paris
8       Jeff   Firrelli  San Francisco          CA
9      Julie   Firrelli         Boston          MA
10     Larry       Bott         London
11    Leslie   Jennings  San Francisco          CA
12    Leslie   Thompson  San Francisco          CA
13      Loui     Bondur          Paris
14      Mami      Nishi          Tokyo  Chiyoda-Ku
15    Martin     Gerard          Paris
16      Mary  Patterson  San Francisco          CA
17    Pamela   Castillo          Paris
18     Peter      Marsh         Sydney
19     Steve  Patterson         Boston          MA
20       Tom       King         Sydney
21   William  Patterson         Sydney
22   Yoshimi       Kato          Tokyo  Chiyoda-Ku

## Customers and their Orders (a One-to-Many join)

Return a list of all of the customers. For each customer return a record for each of their order numbers, order dates and statuses.

In [11]:
# Your code here
# cur.execute('''
#                 SELECT c.customerName, o.orderNumber, o.orderDate, o.status
#                 FROM customers c JOIN orders o ON (c.customerNumber = o.customerNumber)
#                 ORDER BY c.customerName
#             ''')

cur.execute('''
                SELECT c.customerName, p.customerNumber, p.amount, p.paymentDate, p.checkNumber FROM payments p 
                         JOIN customers c 
                         using(customerNumber);
            ''')

df = pd.DataFrame(cur.fetchall())
df.columns = (i[0] for i in cur.description)
df

,customerName,customerNumber,amount,paymentDate,checkNumber
0,Atelier graphique,103,6066.78,2004-10-19,HQ336336
1,Atelier graphique,103,14571.44,2003-06-05,JM555205
2,Atelier graphique,103,1676.14,2004-12-18,OM314933
3,Signal Gift Stores,112,14191.12,2004-12-17,BO864823
4,Signal Gift Stores,112,32641.98,2003-06-06,HQ55022
5,Signal Gift Stores,112,33347.88,2004-08-20,ND748579
6,"Australian Collectors, Co.",114,45864.03,2003-05-20,GG31455
7,"Australian Collectors, Co.",114,82261.22,2004-12-15,MA765515
8,"Australian Collectors, Co.",114,7565.08,2003-05-31,NP603840
9,"Australian Collectors, Co.",114,44894.74,2004-03-10,NR27552
10,La Rochelle Gifts,119,19501.82,2004-11-14,DB933704
11,La Rochelle Gifts,119,47924.19,2004-08-08,LN373447
12,La Rochelle Gifts,119,49523.67,2005-02-22,NG94694
13,Baane Mini Imports,121,50218.95,2003-02-16,DB889831
14,Baane Mini Imports,121,1491.38,2003-10-28,FD317790
15,Baane Mini Imports,121,17876.32,2004-11-04,KI831359
16,Baane Mini Imports,121,34638.14,2004-11-28,MA302151
17,Mini Gifts Distributors Ltd.,124,101244.59,2005-03-05,AE215433
18,Mini Gifts Distributors Ltd.,124,85410.87,2004-08-28,BG255406
19,Mini Gifts Distributors Ltd.,124,11044.30,2003-04-11,CQ287967
20,Mini Gifts Distributors Ltd.,124,83598.04,2005-04-16,ET64396
21,Mini Gifts Distributors Ltd.,124,47142.70,2004-12-27,HI366474
22,Mini Gifts Distributors Ltd.,124,55639.66,2004-11-02,HR86578
23,Mini Gifts Distributors Ltd.,124,111654.40,2003-08-15,KI131716
24,Mini Gifts Distributors Ltd.,124,43369.30,2004-03-26,LF217299
25,Mini Gifts Distributors Ltd.,124,45084.38,2003-11-25,NT141748
26,"Blauer See Auto, Co.",128,10549.01,2003-01-28,DI925118
27,"Blauer See Auto, Co.",128,24101.81,2003-10-18,FA465482
28,"Blauer See Auto, Co.",128,33820.62,2004-03-24,FH668230
29,"Blauer See Auto, Co.",128,7466.32,2004-11-18,IP383901
...,...,...,...,...,...
243,Super Scale Inc.,455,38139.18,2003-12-05,HA777606
244,Super Scale Inc.,455,32239.47,2004-05-12,IR662429
245,Microscale Inc.,456,27550.51,2004-11-13,GJ715659
246,Microscale Inc.,456,1679.92,2004-04-30,MO743231
247,"Corrida Auto Replicas, Ltd",458,33145.56,2004-11-15,DD995006
248,"Corrida Auto Replicas, Ltd",458,22162.61,2004-02-06,NA377824
249,"Corrida Auto Replicas, Ltd",458,57131.92,2003-06-13,OO606861
250,FunGiftIdeas.com,462,30293.77,2005-04-15,ED203908
251,FunGiftIdeas.com,462,9977.85,2003-11-08,GC60330
252,FunGiftIdeas.com,462,48355.87,2004-11-27,PE176846
253,"Australian Collectables, Ltd",471,9415.13,2004-07-28,AB661578
254,"Australian Collectables, Ltd",471,35505.63,2003-12-10,CO645196
255,Frau da Collezione,473,7612.06,2004-02-17,LL427009
256,Frau da Collezione,473,17746.26,2003-10-27,PC688499
257,West Coast Collectables Co.,475,7678.25,2003-12-09,JP113227
258,West Coast Collectables Co.,475,36070.47,2004-02-13,PB951268
259,"Iberia Gift Imports, Corp.",484,3474.66,2004-10-26,GK294076
260,"Iberia Gift Imports, Corp.",484,47513.19,2003-11-29,JH546765
261,Motor Mint Distributors Inc.,486,5899.38,2004-04-14,BL66528
262,Motor Mint Distributors Inc.,486,45994.07,2004-11-23,HS86661
263,Motor Mint Distributors Inc.,486,25833.14,2003-03-20,JB117768
264,Signal Collectibles Ltd.,487,29997.09,2003-09-28,AH612904
265,Signal Collectibles Ltd.,487,12573.28,2004-02-29,PT550181
266,"Double Decker Gift Stores, Ltd",489,22275.73,2003-12-04,OC773849
267,"Double Decker Gift Stores, Ltd",489,7310.42,2004-01-31,PO860906
268,Diecast Collectables,495,59265.14,2003-12-26,BH167026
269,Diecast Collectables,495,6276.60,2004-05-14,FN155234
270,Kelly's Gift Shop,496,30253.75,2005-05-25,EU531600
271,Kelly's Gift Shop,496,32077.44,2003-07-16,MB342426
272,Kelly's Gift Shop,496,52166.00,2004-12-31,MN89921

## Orders and their Order Details (another One-to-Many join)

Return a list of orders. For each order return a record for each order detail within the order.

In [9]:
# Your code here
cur.execute('''
                SELECT o.orderNumber, od.quantityOrdered, od.priceEach, od.orderLineNumber FROM orders o
                JOIN orderdetails od ON (od.orderNumber = o.orderNumber)
            ''')

df = pd.DataFrame(cur.fetchall())
df.columns = (i[0] for i in cur.description)
df

     orderNumber quantityOrdered priceEach orderLineNumber
0          10100              22     75.46               4
1          10100              30    136.00               3
2          10100              49     35.29               1
3          10100              50     55.09               2
4          10101              25    108.06               4
5          10101              26    167.06               1
6          10101              45     32.53               3
7          10101              46     44.35               2
8          10102              39     95.55               2
9          10102              41     43.13               1
10         10103              22     58.34               2
11         10103              25     86.92              13
12         10103              25     88.62              15
13         10103              26    214.30              11
14         10103              27    121.64               8
15         10103              27     92.19              12
16         10103              31     92.46               3
17         10103              35     61.84              14
18         10103              35     94.50              10
19         10103              36    107.34               1
20         10103              36     98.07               5
21         10103              41     40.75               9
22         10103              42    119.67               4
23         10103              42     94.07               6
24         10103              45     63.35               7
25         10103              46     86.31              16
26         10104              23    165.95              13
27         10104              24    135.90               8
28         10104              26    106.45               5
29         10104              29    122.73              12
...          ...             ...       ...             ...
2966       10420              60     60.26              11
2967       10420              66     73.62               6
2968       10421              35    167.06               1
2969       10421              40     44.80               2
2970       10422              25     47.44               1
2971       10422              51     91.44               2
2972       10423              10     89.15               1
2973       10423              21     80.36               5
2974       10423              21     98.44               2
2975       10423              28     78.89               4
2976       10423              31     56.21               3
2977       10424              26     40.25               4
2978       10424              44     54.94               2
2979       10424              46     85.98               1
2980       10424              49    121.64               3
2981       10424              50    201.44               6
2982       10424              54    108.50               5
2983       10425              11     50.32               6
2984       10425              18     94.92               2
2985       10425              19     48.62              10
2986       10425              28    140.55               8
2987       10425              28    147.36               3
2988       10425              31     31.82               5
2989       10425              33     95.99               4
2990       10425              38    107.76              13
2991       10425              38    117.82               7
2992       10425              38    131.49              12
2993       10425              41     83.79              11
2994       10425              49    127.79               9
2995       10425              55     53.75               1

[2996 rows x 4 columns]

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of the orders with the the order information, and all the product information for each product in the order.

In [8]:
# Your code here
cur.execute('''
                SELECT o.orderNumber, od.quantityOrdered, od.priceEach, od.orderLineNumber, p.productName, p.productDescription FROM orders o
                JOIN orderdetails od ON (od.orderNumber = o.orderNumber)
                JOIN products p ON (od.productCode = p.productCode)
            ''')

df = pd.DataFrame(cur.fetchall())
df.columns = (i[0] for i in cur.description)
df

,orderNumber,quantityOrdered,priceEach,orderLineNumber,productName,productDescription
0,10100,30,136.00,3,1917 Grand Touring Sedan,This 1:18 scale replica of the 1917 Grand Tour...
1,10100,50,55.09,2,1911 Ford Town Car,"Features opening hood, opening doors, opening ..."
2,10100,22,75.46,4,1932 Alfa Romeo 8C2300 Spider Sport,This 1:18 scale precision die cast replica fea...
3,10100,49,35.29,1,1936 Mercedes Benz 500k Roadster,This model features grille-mounted chrome horn...
4,10101,25,108.06,4,1932 Model A Ford J-Coupe,This model features grille-mounted chrome horn...
5,10101,26,167.06,1,1928 Mercedes-Benz SSK,This 1:18 replica features grille-mounted chro...
6,10101,45,32.53,3,1939 Chevrolet Deluxe Coupe,This 1:24 scale die-cast replica of the 1939 C...
7,10101,46,44.35,2,1938 Cadillac V-16 Presidential Limousine,This 1:24 scale precision die cast replica of ...
8,10102,39,95.55,2,1937 Lincoln Berline,"Features opening engine cover, doors, trunk, a..."
9,10102,41,43.13,1,1936 Mercedes-Benz 500K Special Roadster,This 1:18 scale replica is constructed of heav...
10,10103,26,214.30,11,1952 Alpine Renault 1300,Turnable front wheels; steering function; deta...
11,10103,42,119.67,4,1962 LanciaA Delta 16V,Features include: Turnable front wheels; steer...
12,10103,27,121.64,8,1958 Setra Bus,"Model features 30 windows, skylights & glare r..."
13,10103,35,94.50,10,1940 Ford Pickup Truck,"This model features soft rubber tires, working..."
14,10103,22,58.34,2,1926 Ford Fire Engine,Gleaming red handsome appearance. Everything i...
15,10103,27,92.19,12,1913 Ford Model T Speedster,This 250 part reproduction includes moving han...
16,10103,35,61.84,14,1934 Ford V8 Coupe,"Chrome Trim, Chrome Grille, Opening Hood, Open..."
17,10103,25,86.92,13,18th Century Vintage Horse Carriage,Hand crafted diecast-like metal horse carriage...
18,10103,46,86.31,16,1917 Maxwell Touring Car,"Features Gold Trim, Full Size Spare Tire, Chro..."
19,10103,36,98.07,5,1940s Ford truck,This 1940s Ford Pick-Up truck is re-created in...
20,10103,41,40.75,9,1939 Cadillac Limousine,Features completely detailed interior includin...
21,10103,36,107.34,1,1962 Volkswagen Microbus,This 1:18 scale die cast replica of the 1962 M...
22,10103,25,88.62,15,1936 Chrysler Airflow,"Features opening trunk, working steering syst..."
23,10103,31,92.46,3,1980’s GM Manhattan Express,This 1980’s era new look Manhattan express is ...
24,10103,45,63.35,7,1996 Peterbilt 379 Stake Bed with Outrigger,"This model features, opening doors, detailed e..."
25,10103,42,94.07,6,1982 Camaro Z28,Features include opening and closing doors. Co...
26,10104,34,131.44,1,1969 Corvair Monza,"1:18 scale die-cast about 10"" long doors open,..."
27,10104,41,111.39,9,1957 Chevy Pickup,"1:12 scale die-cast about 20"" long Hood opens,..."
28,10104,24,135.90,8,1998 Chrysler Plymouth Prowler,Turnable front wheels; steering function; deta...
29,10104,29,122.73,12,1964 Mercedes Tour Bus,Exact replica. 100+ parts. working steering sy...
...,...,...,...,...,...,...
2966,10420,26,104.94,12,2002 Chevy Corvette,The operating parts of this limited edition Di...
2967,10420,15,35.29,3,1936 Mercedes Benz 500k Roadster,This model features grille-mounted chrome horn...
2968,10421,35,167.06,1,1928 Mercedes-Benz SSK,This 1:18 replica features grille-mounted chro...
2969,10421,40,44.80,2,1938 Cadillac V-16 Presidential Limousine,This 1:24 scale precision die cast replica of ...
2970,10422,51,91.44,2,1937 Lincoln Berline,"Features opening engine cover, doors, trunk, a..."
2971,10422,25,47.44,1,1936 Mercedes-Benz 500K Special Roadster,This 1:18 scale replica is constructed of heav...
2972,10423,10,89.15,1,1913 Ford Model T Speedster,This 250 part reproduction includes moving han...
2973,10423,31,56.21,3,1934 Ford V8 Coupe,"Chrome Trim, Chrome Grille, Opening Hood, Open..."
2974,10423,21,98.44,2,18th Century Vintage Horse Carriage,Hand crafted diecast-like metal horse carriage...
2975,10423,21,80.36,5,1917 Maxwell Touring Car,"Features Gold Trim, Full Size Spare Tire, Chro..."
2976,10423,28,78.89,4,1936 Chrysler Airflow,"Features opening trunk, working steering syst..."
2977,10424,50,201.44,6,1952 Alpine Renault 1300,Turnable front wheels; steering function; deta...
2978,10424,49,121.64,3,1958 Setra Bus,"Model features 30 windows, skylights & glare r..."
2979,10424,54,108.50,5,1940 Ford Pickup Truck,"This model features soft rubber tires, working..."
2980,10424,26,40.25,4,1939 Cadillac Limousine,Features completely detailed interior includin...
2981,10424,44,54.94,2,1996 Peterbilt 379 Stake Bed with Outrigger,"This model features, opening doors, detailed e..."
2982,10424,46,85.98,1,1982 Camaro Z28,Features include opening and closing doors. Co...
2983,10425,38,131.49,12,1962 LanciaA Delta 16V,Features include: Turnable front wheels; steer...
2984,10425,33,95.99,4,1957 Chevy Pickup,"1:12 scale die-cast about 20"" long Hood opens,..."
2985,10425,28,147.36,3,1998 Chrysler Plymouth Prowler,Turnable front wheels; steering function; deta...
2986,10425,38,117.82,7,1964 Mercedes Tour Bus,Exact replica. 100+ parts. working steering sy...
2987,10425,19,48.62,10,1926 Ford Fire Engine,Gleaming red handsome appearance. Everything i...
2988,10425,28,140.55,8,1992 Ferrari 360 Spider red,"his replica features opening doors, superb det..."
2989,10425,38,107.76,13,1940s Ford truck,This 1940s Ford Pick-Up truck is re-created in...
2990,10425,55,53.75,1,1970 Dodge Coronet,"1:24 scale die-cast about 18"" long doors open,..."
2991,10425,49,127.79,9,1962 Volkswagen Microbus,This 1:18 scale die cast replica of the 1962 M...
2992,10425,31,31.82,5,1958 Chevy Corvette Limited Edition,The operating parts of this 1958 Chevy Corvett...
2993,10425,41,83.79,11,1980’s GM Manhattan Express,This 1980’s era new look Manhattan express is ...
2994,10425,11,50.32,6,1954 Greyhound Scenicruiser,"Model features bi-level seating, 50 windows, s..."
2995,10425,18,94.92,2,Diamond T620 Semi-Skirted Tanker,This limited edition model is licensed and per...

## Summary

In this lab, you practiced your knowledge on One-to-Many and Many-to-many relationships!